@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;600&family=Inter:wght@400;600&display=swap");
@import "tw-animate-css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind Base Layer */
@layer base {
  * {
    @apply border-none outline-none;
  }

  body {
    @apply font-sans text-[15px];
  }
}
@layer utilities {
  .bg-background {
    background-color: var(--background);
  }

  .text-foreground {
    color: var(--foreground);
  }
}

.overview-gradient {
  background: linear-gradient(180deg, #22ccb2ff 0%, #235bcdff 100%);
}

.text-grey-dark {
  color: #242524ff;
}

.bg-add-button {
  background: linear-gradient(180deg, #22CCB2FF 0%, #235BCDFF 100%); 
}

.bg-action-button {
  background: #636AE8FF;
}

.bg-action-button:hover {
  background: #4850E4FF;
}

/* Custom scrollbar */
.custom-scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #e9e3e3;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #dbd9d9;
}

/* For Firefox */
.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #c2c0c0 #f1f1f1; /* thumb and track color */
}

/* input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
} */