@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;600&family=Inter:wght@400;600&display=swap");
@import "tw-animate-css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind Base Layer */
@layer base {
  body {
    @apply font-sans text-[15px];
  }
}
@layer utilities {
  .bg-background {
    background-color: var(--background);
  }

  .text-foreground {
    color: var(--foreground);
  }
}

.overview-gradient {
  background: linear-gradient(180deg, #22ccb2ff 0%, #235bcdff 100%);
}

.text-grey-dark {
  color: #242524ff;
}

.bg-add-button {
  background: linear-gradient(180deg, #22ccb2ff 0%, #235bcdff 100%);
}

.bg-action-button {
  background: #636ae8ff;
}

.bg-action-button:hover {
  background: #4850e4ff;
}

/* Custom scrollbar */
.custom-scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #e9e3e3;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #dbd9d9;
}

/* For Firefox */
.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #c2c0c0 #f1f1f1; /* thumb and track color */
}

/* Date picker */
.rdp-small .rdp-day {
  width: 1rem;
  height: 1rem;
  font-size: 0.75rem;
}

.rdp-small .rdp-caption {
  font-size: 0.3rem;
}

.rdp-small .rdp-head_cell {
  font-size: 1rem;
  padding: 0.2rem;
}

.rdp-small {
  --rdp-cell-size: 2rem;
  font-size: 0.7rem;
}

.rdp-day_selected,
.rdp-day_range_middle,
.rdp-day_range_start,
.rdp-day_range_end {
  background-color: #374151 !important;
  color: #fff !important;
}

select::placeholder {
  color: #999;
  font-size: 14px;
  font-style: italic;
  font-weight: bolder;
  opacity: 1;
}

.border-grey {
  border-color: #e2e2e2;
}

.text-step-new {
  color: #636ae8ff;
}

.text-step-contacted {
  color: #ea916eff;
}

.text-step-deposited {
  color: #2c35e0ff;
}

.text-step-enrolled {
  color: #147567ff;
}
